<h3>Sobre nós</h3>

<div>
    <img class="img-responsive" src="/img/" alt="Chania">
    SMART MOBILITY FOR THE MODERN WORLD
    Lime is founded on a simple idea that all communities deserve
    access to smart, affordable mobility.

    Through the equitable distribution of shared scooters,
    bikes and transit vehicles, we aim to reduce dependence
    on personal automobiles for short distance transportation and 
    leave future generations with a cleaner, healthier planet.

</div>