@{
    ViewBag.Title = "About";
}

<div style="width:100%; margin-top: 40px" ;style="background-color:lightblue">
    <div style="width: 600px; float: left;">
        <img class="img-responsive" src="/img/imagem_About-1.jpg" alt="Chania" style="height:250px; width: 450px">
    </div>

    <div style="margin-left: 500px">
        <h5>Objectivos</h5>
        <p style="font-size:15px" align="justify">
            A e-CarSharing foi criada da simples ideia de que todas as comunidades
            merecem mobilidade acessível e inteligente.
        </p>

        <p style="font-size:15px" align="justify">
            Através de uma distribuição equitativa de trotinetes,
            bicicletas e carros partilhados, nós temos como objetivo
            reduzir a dependência de automóveis pessoais para transporte
            de curtas distâncias e deixar as gerações futuras com um
            planeta menos poluído e mais saudável.
        </p>
    </div>

</div>

<div style="margin-top: 100px">
    <div style="width: 600px; float: left;">
        <img class="img-responsive" src="/img/imagem_About-2.jpg" alt="Chania" style="height:250px; width: 450px">
    </div>

    <div style="margin-left: 500px">
        <h5>O que disponibilizamos</h5>
        <p style="font-size:15px" align="justify">
            Nesta plataforma disponibilizamos uma forma simples e rápida de
            de mobilidade.
        </p>

        <p style="font-size:15px" align="justify">
            Se for um cliente, com os nossos serviços pode localizar rapidamente uma estação de veículos
            que esteja próximo de si, escolher um veículo que mais se adequa às suas
            necessidades e fazer a reserva.
        </p>
        <p style="font-size:15px" align="justify">
            Mas se for um proprietário de um veículo sustentável para o ambiente
            pode facilmente colocá-lo à disposição e ganhar com isso.
        </p>

    </div>

</div>